Mathgame project/obj/Debug/net8.0/Mathgame project.AssemblyInfo.cs
Mathgame project/obj/Debug/net8.0/Mathgame project.AssemblyInfo.cs
Mathgame project/obj/Debug/net8.0/Mathgame project.AssemblyInfo.cs
Mathgame project/obj/Debug/net8.0/Mathgame project.AssemblyInfoInputs.cache
Mathgame project/obj/Debug/net8.0/Mathgame project.assets.cache
Mathgame project/obj/Debug/net8.0/Mathgame project.GeneratedMSBuildEditorConfig.editorconfig
Mathgame project/obj/Debug/net8.0/Mathgame project.GlobalUsings.g.cs
Mathgame project/obj/Debug/net8.0/Mathgame project.AssemblyInfo.cs
